# Config
export NO_OF_USERS="5"          # How many users to create
export NAI_UI_ENDPOINT=""       # FQDN of your instance (e.g. nai.example.com)

# Secrets
export NAI_DEFAULT_PW=""        # NAI default admin password
export NAI_NEW_ADMIN_PW=""      # The password the default was changed to after first login
export HF_TOKEN="xxxx"          # Hugging Face Token
export NAI_NEW_USER_PW=''       # The password to use for the users (adminuser01, adminuser02, etc)
export LICENSE_KEY=""           # NAI License Key
export LICENSE_CLUSTER_UUID=""  # NKP Cluster UUID for License
