export IMAGE_REGISTRY_URL="registry.example.com/bootcamps"
export PROJECT="nutanix"
export NAI_DEFAULT_RWO_STORAGECLASS="nutanix-volume"
export NAI_API_RWX_STORAGECLASS="nutanix-files"
export NKP_WORKSPACE_NAMESPACE="kommander"
export REGISTRY_USERNAME="admin"
export REGISTRY_PASSWORD="password"
export REGISTRY_EMAIL="example@example.com"
export IMAGE_PULL_SECRET="registry-image-pull-secret"